apiVersion: apps/v1
kind: Deployment
metadata:
  name: nodejs
  namespace: nodejs
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nodejs
      role: nodejs
  template:
    metadata:
      labels:
        app: nodejs
        role: nodejs
    spec:
      containers:
      - name: nodejs
        image: akloud12/nodeapp:1.0.0
        resources:
          limits:
            memory: "128Mi"
            cpu: "500m"
        ports:
        - containerPort: 8080
